{% extends "base.html" %}
{% load static %}

{% block content %}
<div uk-grid>
    <div class="votes uk-flex uk-flex-column uk-flex-top uk-flex-middle" data-url="{% url 'vote_question' %}" data-target="{{ question.pk }}">
        <div class="votes__vote votes__vote-up" data-value="1" uk-icon="icon: chevron-up; ratio: 2"></div>
        <div class="votes__value uk-text-bold">
            <span>{{ question.rating }}</span>
            <img class="loader hidden" src="{% static 'ui/ajax-loader.gif' %}">
        </div>
        <div class="votes__vote votes__vote-down" data-value="-1" uk-icon="icon: chevron-down; ratio: 2"></div>
    </div>
    <div class="uk-width-expand">
        <article class="uk-article">
            <p class="uk-article-title uk-text-large">
                <a class="uk-link" href="{% url 'question_detail' question_id=question.pk %}">{{ question.title }}</a>
            </p>
            <p class="uk-article-meta">Asked by <a href="#"><b>{{ question.author }}</b></a> on {{ question.posted }}</p>
            <p class="wrapword">{{ question.content }}</p>

            <div>
                <div>
                    {% for tag in question.tags.all %}
                    <a class="uk-button uk-button-primary uk-button-small" href="{% url 'tag' tag=tag.name %}">{{ tag.name }}</a>
                    {% endfor %}
                </div>
            </div>
        </article>
    </div>
</div>

<div class="uk-margin-large">
    <h3 class="uk-heading-divider">{{ question.number_of_answers }} answers</h3>
</div>

{% for answer in object_list %}
<article class="uk-comment uk-margin {% if answer.is_accepted %}uk-comment-primary{% endif %}">
    <div uk-grid>
        <div class="votes uk-flex uk-flex-column uk-flex-top uk-flex-middle" data-url="{% url 'vote_answer' %}" data-target="{{ answer.pk }}">
            <div class="votes__vote votes__vote-up" data-value="1" uk-icon="icon: chevron-up; ratio: 2"></div>
            <div class="votes__value uk-text-bold">
                <span>{{ answer.rating }}</span>
                <img class="loader hidden" src="{% static 'ui/ajax-loader.gif' %}">
            </div>
            <div class="votes__vote votes__vote-down" data-value="-1" uk-icon="icon: chevron-down; ratio: 2"></div>
        </div>
        <div class="uk-width-expand">
            <header class="uk-comment-header uk-grid-medium uk-flex-middle" uk-grid>
                <div class="uk-width-auto uk-flex uk-flex-middle">
                    {% if request.user == question.author %}
                    <div class="uk-margin-right answer-mark {% if answer.is_accepted %}answer-mark--marked{% endif %}" data-url="{% url 'answer_mark' answer_id=answer.pk %}" uk-icon="icon: star; ratio: 2"></div>
                    {% endif %}
                    <div class="uk-comment-avatar userphoto userphoto-mid" style="background-image: url({{ answer.author.get_thumb_url }})"></div>
                </div>
                <div class="uk-width-expand">
                    <h4 class="uk-comment-title uk-margin-remove"><a class="uk-link-reset" href="#">{{ answer.author.username }}</a></h4>
                    <ul class="uk-comment-meta uk-subnav uk-subnav-divider uk-margin-remove-top">
                        <li><a href="#">{{ answer.posted }}</a></li>
                    </ul>
                </div>
            </header>
            <div class="uk-comment-body">
                <p>{{ answer.content }}</p>
            </div>
        </div>
    </div>
</article>
<hr>
{% endfor %}

{% include 'pagination.html' %}

{% if request.user.is_authenticated %}
<div class="uk-section">
    <h3>Your answer</h3>

    {% if form.non_field_errors %}
        <div class="uk-margin-bottom">
        {% for error in form.non_field_errors %}
        <div class="uk-form-danger">{{ error }}</div>
        {% endfor %}
        </div>
    {% endif %}

    <form method="POST" class="uk-form-stacked">
        <div class="uk-margin">
            <textarea class="uk-textarea {% if form.content.errors %} uk-form-danger {% endif %}" rows="8" name="content" placeholder="Write your answer here...">{% if form.content.value != None %}{{ form.content.value|stringformat:'s' }}{% endif %}</textarea>
            {% if form.content.errors %}
            <div class="uk-form-danger">{{ form.content.errors }}</div>
            {% endif %}
        </div>

        <div class="uk-margin">
            <button class="uk-button uk-button-primary">Answer</button>
        </div>
        {% csrf_token %}
    </form>
</div>
{% endif %}

<div id="modal-center" class="uk-flex-top" uk-modal>
    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <h2 class="uk-text-danger">Error</h2>
        <p>Please <a href="{% url 'login' %}">sign in</a> or <a href="{% url 'signup' %}">register</a> to be able to vote</p>
    </div>
</div>

{% endblock content %}
