.header {
    background: #fdfdfd;
}

.logo {
    margin-bottom: 0;
}

.userphoto {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-origin: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100%;
}
