{% extends "base.html" %}

{% block content %}


<div class="uk-container uk-margin-top uk-width-1-2">
    {% if request.user.is_authenticated %}

        <h3>Log Out</h3>
        <div uk-alert class="uk-alert-info">
            <button class="uk-alert-close" type="button" uk-close></button>
            <p>You are already logged in.</p>
        </div>
        <form method="POST" action="{% url 'logout' %}">
            <button class="uk-button uk-button-primary">Log Out</button>
        </form>

    {% else %}

        <h3>Log In</h3>

        {% if form.non_field_errors %}
            <div class="uk-margin-bottom">
            {% for error in form.non_field_errors %}
            <div class="uk-form-danger">{{ error }}</div>
            {% endfor %}
            </div>
        {% endif %}

        <form method="POST" class="uk-form-stacked">
            <div class="uk-margin">
                <div class="uk-inline">
                    <span class="uk-form-icon" uk-icon="icon: user"></span>
                    <input 
                        class="uk-input uk-form-width-large {% if form.username.errors %} uk-form-danger {% endif %}" 
                        type="text" name="username" 
                        placeholder="Username"
                        required
                        {% if form.username.value != None %}value="{{ form.username.value|stringformat:'s' }}"{% endif %}
                    >
                </div>
                {% if form.username.errors %}
                <div class="uk-form-danger">{{ form.username.errors }}</div>
                {% endif %}
            </div>
            <div class="uk-margin">
                <div class="uk-inline">
                    <span class="uk-form-icon" uk-icon="icon: lock"></span>
                    <input 
                        class="uk-input uk-form-width-large {% if form.password.errors %} uk-form-danger {% endif %}"
                        type="password"
                        name="password"
                        placeholder="Password"
                        required
                    >
                </div>
                {% if form.password.errors %}
                <div class="uk-form-danger">{{ form.password.errors }}</div>
                {% endif %}
            </div>
            <div class="uk-margin">
                <button class="uk-button uk-button-primary">Submit</button>
                <a class="uk-link-text uk-margin-left" href="{% url 'signup' %}">Sign Up</a>
            </div>
            {% csrf_token %}
        </form>

    {% endif %}

</div>


{% endblock content %}
