{% extends "base.html" %}

{% block content %}

<div class="uk-container uk-margin-top uk-width-1-2">
    <h3>Sign Up</h3>

    <form method="POST" class="uk-form-stacked">
        <div class="uk-margin">
            <div class="uk-inline">
                <span class="uk-form-icon" uk-icon="icon: user"></span>
                <input 
                    class="uk-input uk-form-width-large {% if form.username.errors %} uk-form-danger {% endif %}" 
                    type="text" name="username" 
                    placeholder="Username"
                    required
                    {% if form.username.value != None %}value="{{ form.username.value|stringformat:'s' }}"{% endif %}
                >
            </div>
            {% if form.username.errors %}
            <div class="uk-form-danger">{{ form.username.errors }}</div>
            {% endif %}
        </div>
        <div class="uk-margin">
            <div class="uk-inline">
                <span class="uk-form-icon" uk-icon="icon: mail"></span>
                <input 
                    class="uk-input uk-form-width-large {% if form.email.errors %} uk-form-danger {% endif %}"
                    type="email" 
                    name="email" 
                    placeholder="Email"
                    required
                    {% if form.email.value != None %}value="{{ form.email.value|stringformat:'s' }}"{% endif %} 
                >
            </div>
            {% if form.email.errors %}
            <div class="uk-form-danger">{{ form.email.errors }}</div>
            {% endif %}
        </div>
        <div class="uk-margin">
            <div class="uk-inline">
                <span class="uk-form-icon" uk-icon="icon: lock"></span>
                <input 
                    class="uk-input uk-form-width-large {% if form.password1.errors %} uk-form-danger {% endif %}"
                    type="password"
                    name="password1"
                    placeholder="Password"
                    required
                    {% if form.password1.value != None %}value="{{ form.password1.value|stringformat:'s' }}"{% endif %}
                >
            </div>
            {% if form.password1.errors %}
            <div class="uk-form-danger">{{ form.password1.errors }}</div>
            {% endif %}
        </div>
        <div class="uk-margin">
            <div class="uk-inline">
                <span class="uk-form-icon" uk-icon="icon: lock"></span>
                <input 
                    class="uk-input uk-form-width-large {% if form.password2.errors %} uk-form-danger {% endif %}"
                    type="password"
                    name="password2"
                    placeholder="Password confirmation"
                    required
                    {% if form.password2.value != None %}value="{{ form.password2.value|stringformat:'s' }}"{% endif %}
                >
            </div>
            {% if form.password2.errors %}
            <div class="uk-form-danger">{{ form.password2.errors }}</div>
            {% endif %}
        </div>
        <div class="uk-margin">
            <button class="uk-button uk-button-primary">Submit</button>
            <a class="uk-link-text uk-margin-left" href="{% url 'login' %}">Log in</a>
        </div>
        {% csrf_token %}
    </form>

</div>


{% endblock content %}
